{% extends "layouts/base.html" %}

{% block title %} Sign In {% endblock %} 

{% block body_class %} sign-in-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %} 
  
  <div class="page-header align-items-start min-vh-100" style="background-image: url('/static/assets/img/bg2.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-info border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                  Chat with AI
                </h4>
                <div class="row mt-3">
                  <p class="mb-0 text-white text-center">
                  </p>
                </div>
              </div>
            </div>
            <div class="container" id="conversation"></div>
            <div id= "username" style="display: none;">{{ username }}</div>
            <div method="post" action="" class="text-start" autocomplete="off" id="input-area">
              <input type="text" id="message-input" placeholder="Type your message here...">
              <button id="send-button">Send</button>
            </div>   
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer-auth.html' %} 

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
