{% extends "layouts/base.html" %}

{% block title %} Sign In {% endblock %} 

{% block body_class %} sign-in-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %} 
  
  <div class="page-header align-items-start min-vh-100" style="background-image: url('/static/assets/img/bg2.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-info border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                  Chat with AI
                </h4>
                <div class="row mt-3">
                  <p class="mb-0 text-white text-center">
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form role="form" method="post" action="" class="text-start" autocomplete="off">
                {{ form.hidden_tag() }} 
                <div class="input-group input-group-outline mb-3"></div>
                {% if msg %}
                {{ msg }}
                <div class="text-center">
                  <button type="submit" href="/chat"
                          class="btn bg-gradient-info text-white w-100 my-4 mb-2">New Question</button>
                {% else %}
            
                {{ form.chat(class="form-control", placeholder="Ask me anything") }}
                <div class="text-center">
                  <button type="submit" name="chat"
                          class="btn bg-gradient-info text-white w-100 my-4 mb-2">Ask</button>
                {% endif %}
                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer-auth.html' %} 

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
