<!-- Footer Starts Here -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>About Us</h2>
            </div>
            <p>.</p>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>A.I SaaS Plans</h2>
            </div>
            <ul class="footer-list">
              <li><a href="#">Basic A.I Cloud</a></li>
              <li><a href="#">Super A.I Cloud</a></li>
              <li><a href="#">Advanced A.I Cloud</a></li>
              <li><a href="#">Custom Designs</a></li>
              <li><a href="#">Special Solutions</a></li>
            </ul>
          </div>
        </div>
        
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>Useful Links</h2>
            </div>
            <ul class="footer-list">
              <li><a href="#">Light Speed Zone</a></li>
              <li><a href="#">Content Delivery Network</a></li>
              <li><a href="#">Customer Support</a></li>
              <li><a href="#">Latest News</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-item">
            <div class="footer-heading">
              <h2>More Information</h2>
            </div>
            <ul class="footer-list">
              <li>Phone: <a href="#">757-618-5181</a></li>
              <li>Email: <a href="#">mail@ailab.co</a></li>
              <li>Support: <a href="#">support@ailab.co</a></li>
              <li>Website: <a href="#">www.ailab.co</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="sub-footer">
            <p>Copyright &copy; 2023 A.I Lab.co LLC
              - Designed by A real cool guy</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Ends Here -->