<!--   Core JS Files   -->
<script src="{{ config.ASSETS_ROOT }}/js/core/jquery.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/core/popper.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="{{ config.ASSETS_ROOT }}/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ config.ASSETS_ROOT }}/js/black-dashboard.min.js?v=1.0.0"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ config.ASSETS_ROOT }}/demo/demo.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/themeSettings.js"></script>
<!-- open-ai script -->
<script src="{{ config.ASSETS_ROOT }}/js/script.js"></script>
<!-- misc -->
<script src="{{ config.ASSETS_ROOT }}/js/owl.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/custom.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/accordion.js"></script>
<!-- plugins:js -->
<script src="{{ config.ASSETS_ROOT }}/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{{ config.ASSETS_ROOT }}/vendors/chart.js/Chart.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendors/progressbar.js/progressbar.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ config.ASSETS_ROOT }}/js/off-canvas.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/hoverable-collapse.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/template.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/settings.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{{ config.ASSETS_ROOT }}/js/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dashboard.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->